################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PublishPackageToNuGetVsix/PublishPackageToNuGet/obj/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet/bin/Debug
/PublishPackageToNuGetVsix/packages
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v15
/PublishPackageToNuGetVsix/PublishPackageToNuGet2015/obj/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet2015/bin/Debug
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v14
