################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PublishPackageToNuGetVsix/PublishPackageToNuGet/obj/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet/bin/Debug
/PublishPackageToNuGetVsix/packages
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v15
/PublishPackageToNuGetVsix/PublishPackageToNuGet2015/obj/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet2015/bin/Debug
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v14
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/DesignTimeBuild
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v16
/PublishPackageToNuGetVsix/PublishPackageToNuGet2017/obj/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet2017/bin/Debug
/PublishPackageToNuGetVsix/.vs/PublishPackageToNuGetVsix/v17
/PublishPackageToNuGetVsix/PublishPackageToNuGet2022/obj
/PublishPackageToNuGetVsix/PublishPackageToNuGet2022/bin/Debug
/PublishPackageToNuGetVsix/PublishPackageToNuGet2017/bin/Release
/PublishPackageToNuGetVsix/PublishPackageToNuGet2017/obj/Release
